= form_for(@comment, url: category_picture_comments_path({category_id: 0, picture_id: 0})) do |f|
  %p
    = f.label :text
    %br/
    = f.text_field :text
  -#%p
  -#  = f.label :body
  -#  %br/
  -#  = f.text_area :body
  -#%p
  = f.submit


-#= form_for(@article.comments.build, url: article_comments_path(@article)) do |f|
-#= form_for(@picture.comments, url: category_picture_comments_path({category_id: 0, picture_id: 0})) do |f|
-#= form_for(@comment, url: category_picture_comments_path({category_id: 0, picture_id: 0})) do |f|
-#= form_for(@comment, url: category_picture_comments_path(:picture_id )) do |f|
-#= form_for(@picture.comments, url: category_picture_comments_path({category_id: 0, picture_id: 0})) do |f|
-#  %p
-#    = f.label :text
-#    %br/
-#    = f.text_field :text
-#  = f.submit
