%body{:style => "background-color: burlywood "}
%br/
%br/
%br/
%br/
%h3.page-header Comments:
- @comments.each do |comment|
    %p= comment.text
    -#=link_to 'picture link', picture_path(comment.picture, comment.picture.id)
    -#%p= comment.created_at


    -#= link_to picture_path(picture.id), :id => picture.id, class:"portfolio-box" do
    -#  = image_tag(picture.avatar, size: "128x128", alt: "Edit Entry")



