%br
%br
%br
%br
%h1.text-center Total comments: #{current_user.comments.size}
- @comments.each do |comment|
  -if comment.user.present?
    %p
      %p Comment: #{comment.text}. Create at #{comment.created_at.strftime("%m-%d-%Y - %H:%M")}


