<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Your Favorite Source</h1>
      <hr>
      <p>Show all pictures</p>
      <a href="pictures" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

