%body
  %header
    .header-content
      .header-content-inner
        %h1#homeHeading Welcome!
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "pictures"} Register
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "register"} Gallery