%body
  %header
    .header-content
      .header-content-inner
        %h1#homeHeading Your Favorite Source
        %hr/
        %p Show all pictures
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "pictures"} Find Out More