%body{:style => "background-color: burlywood "}
%br/
%br/
%br/
%br/
%br/
%br/
- @categories.each do |category|
  .col-lg-2.col-md-2.col-sm-2.col-xs-2
    -#= link_to category_path(category.id), :id => category.id, class:"portfolio-box" do
    = link_to category_path(category.name), :name => category.name, class:"portfolio-box" do
      = image_tag(category.pictures.order("RANDOM()").first.avatar.url, class: "img-responsive", alt: "", size: "650x350")
      .portfolio-box-caption
        .portfolio-box-caption-content
          .project-category.text-faded
            Category: #{category.name}
          .project-name
            Total: #{category.pictures.size} photo

