<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Your Favorite Source</h1>
      <hr>
      <%= doc = File.open("tits_2.jpg") { |f| Nokogiri::HTML(f) }%>
    </div>
  </div>
</header>
